:root {
    --one: #7cdbd5;
    --two: #fs3240;
    --three: #f9bed2;
    --four: #02c8a7;
    --five: rgb(228, 228, 228);
}

.homepage-container {
    width: 100%;
    height: 100vh;
}

.panel {
    width: 100%;
    height: 100vh;
    background-color: var(--one);
}

.panel-image {
    height: 100%;
    width: 100%;
    padding-top: calc(12vh);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.panel-description {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.panel-description-background {
    width: 30%;
    height: 40%;
    border-radius: calc(2vh);
}

.panel-description-background h2 {
    font-size: calc(2vw);
    margin-bottom: calc(5vh);
}

.panel-description-background button {
    width: 30%;
    height: calc(4.5vh);
    font-size: calc(1vw);
    border: none;
    border-left: none;
    transition: ease-in 0.3s;
    background-color: transparent;
}

.panel-description-background button:hover {
    background-color: rgb(51, 172, 228);
    color: white;
    transition: ease 0.3s;
}